.about {
  height: 100%;
  background-color: rgb(191, 217, 213) !important;
}

.float-center {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  opacity: 1 !important;
  background-color: rgba(13, 22, 38, 0.8) !important;
  color: white;
}

h1.display-3 {
  font-size: 40px !important;
}

hr {
  border-top: 1px solid white !important;
}
