.displayButtons {
  position: relative;
  left: 40%;
  padding: 10px;
  margin: 16px;
  border-radius: 15px;
  cursor: pointer;
}

.displayArea {
  width: 600px;
  height: 300px;
  border: 2px solid;
  display: flex;
  left: 25%;
  position: relative;
}
