#dropdown {
  display: inline-block;
  margin: 15px;
}

#normalisation {
  margin-left: 10px;
}

.table-header {
  background-color: rgb(191, 217, 213);
}

.link-value {
  color: black !important;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: '';
}

.react-bootstrap-table {
  height: 320px;
  overflow: scroll;
}

.buttonPadding {
  margin-right: 40px;
}
