.ReactVirtualized__Table__Grid {
  background-color: blue;
  border-bottom: black;
  border-right: black;
}
.ReactVirtualized__Table__headerColumn {
  /*.column();*/
}
.ReactVirtualized__Table__headerRow {
  background-image: linear-gradient(#fff, #efefef);
  border: 1px solid black;

  padding-right: 0 !important;
}
/*.ReactVirtualized__Table__row {*/
/*border: 1px solid black;*/
/*}*/
/*.ReactVirtualized__Table__rowColumn {*/
/*border: 1px solid black;*/
/*}*/

.ReactVirtualized__Grid {
  border: 1px solid black;
  margin-top: 20px;
}

.ReactVirtualized__Grid__innerScrollContainer div {
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 5px;
}
