.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: 5px;
  outline-color: lightsteelblue;
  font-size: 14px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: bisque;
}

.panel {
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
  width: 90%;
  background-color: #d4f3c7;
  overflow: hidden;
}

.scrollLeftBar {
  max-height: 800px;
  overflow-y: auto;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.leftSearch {
  width: 75%;
  margin-bottom: 15px;
}

.chevron-icon-padding {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.react-confirm-alert-body {
  padding: 10px !important;
  background: rgba(13, 22, 38, 0.8) !important;
  color: white !important;
}

.react-confirm-alert-button-group > button {
  background: white !important;
  color: #6f9ba5 !important;
  font-weight: bold !important;
}
