.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: 2px;
  outline-color: black;
  font-size: 14px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: bisque;
}

.panel {
  padding: 0 10px;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
  width: 80%;
  background-color: lightsteelblue;
  overflow: hidden;
}

.scrollLeftBar {
  max-height: 800px;
  overflow-y: auto;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.leftSearch {
  width: 75%;
  margin-bottom: 15px;
}
