.accordion {
  background-color: rgb(35, 49, 62, 0);
  color: white;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: 5px;
  outline-color: lightsteelblue;
  font-size: 14px;
  transition: 0.4s;
  border-radius: 5px;
}

nav.scrollLeftBar.col-md-2.d-none.d-md-block.bg-light.sidebar {
  background-color: rgb(35, 49, 62, 0.8) !important;
  height: 100%;
  overflow: auto;
}

.active,
.accordion:hover {
  background-color: darkgrey !important;
  color: black;
}

.panel {
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
  width: 90%;
  background-color: #d4f3c7;
  overflow: hidden;
}

.scrollLeftBar {
  max-height: 800px;
  overflow-y: auto;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.sidebar {
  padding-left: 10px !important;
  padding-right: 0px !important;
}

.leftSearch {
  width: 75%;
  margin-bottom: 15px;
  margin-top: 5px !important;
}

.chevron-icon-padding {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
}

button.btn {
  color: white !important;
}

h1,
.h1 {
  font-size: 25px !important;
  color: #6f9ba5 !important;
  font-weight: bold !important;
}

.react-confirm-alert-body {
  padding: 10px !important;
  background: rgba(13, 22, 38, 0.8) !important;
  color: white !important;
}

.react-confirm-alert-button-group > button {
  background: white !important;
  color: #6f9ba5 !important;
  font-weight: bold !important;
}

.float-right.attributes {
  border-radius: 5px;
  margin-right: 10px;
}

.collapsible {
  color: black;
}
