.w-100 {
  z-index: 999;
}

.map-code {
  width: 5px;
  height: 5px;
  border: 1px solid black;
  padding: 5px;
  margin: 1px;
}

.similar-places-card-header {
  background-color: rgb(191, 217, 213) !important;
}

.similar-places-label {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.fa-info-circle.similar-places-info.col::before {
  font-size: 25px !important;
  float: right !important;
  padding-top: 7px;
  color: #023e58 !important;
}

.advanced-loaction-box.col-sm-12.col-md-4.col-lg-4 {
  padding-left: 26px !important;
}

.advanced-search {
  margin-right: 5px !important;
}
