@import '../custom-variables';

$modal-content-bg: #023e58;

.story-creation-form {
  color: $white;
  .quill {
    color: #000;
    background-color: $white;
    border-radius: 0.25rem;
    .ql-toolbar {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
    .ql-container {
      min-height: 300px;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}
