.form-check-label {
  text-transform: lowercase;
  font-size: 14px;
}
.chartDiv {
  align-items: center;
  padding-left: 5px;
  margin: 5px;
}

.button {
  background-color: white !important;
  border-color: white !important;
}

.chartDivTiny {
  align-items: center;
  padding-left: 10px;
  margin: 20px;
}

span.popupHeader.badge.badge-info {
  font-size: 15px !important;
  line-height: 2 !important;
  margin-bottom: 20px !important;
  align-items: center !important;
  align-content: center !important;
}

.recharts-tooltip-wrapper {
  font-size: 0.6rem !important;
}

.GridContainer {
  height: 500px;
  overflow: auto;
}

span.recharts-legend-item-text {
  font-size: 10px !important;
}

svg.recharts-surface tspan {
  font-size: 0.6rem !important;
  color: black !important;
  font-family: Arial;
}

.GridModal {
  max-width: 1000px !important;
  margin: auto;
}

.modal-dialog {
  max-width: 1200px !important;
  margin: 1.75rem auto;
}

.alert {
  padding: 20px;
  background-color: rgb(191, 217, 213);
  color: black;
  font-style: italic;
}

.padding {
  padding-bottom: 10px;
}
.location-list-padding {
  padding-left: 40px !important;
  padding-top: 10px;
  max-height: 200px;
  overflow-y: auto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #ccc !important;
  padding: 0;
  margin-top: 0px !important;
  margin-bottom: 5px !important;
}

div.Space {
  margin: 10px !important;
}
