.trending-height {
  max-height: 600px;
  overflow: auto;
}

.thumb {
  padding: 10px;
  cursor: pointer;
}

.tag {
  padding: 5px;
  margin: 5px;
}
.form-control.searchBar {
  width: 100%;
  margin: 15px;
  margin-left: 0px;
}
.pointer {
  cursor: pointer;
}

.trending {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.pointer.card {
  margin-bottom: 10px;
}
