.collapse.show {
  visibility: visible;
  height: 200px !important;
}

.height.card-body {
  height: 100px;
}

.view {
  margin: 10px !important;
  font-size: 15px;
  text-align: justify;
}

.view-story.card {
  margin: 10px;
  max-height: 600px;
  overflow: auto;
}

button.fa.fa-thumbs-o-up.thumb.view-story.btn.btn-primary {
  color: black !important;
}

button.fa.fa-thumbs-o-down.thumb.view-story.btn.btn-secondary {
  color: black !important;
}
