.collapse.show {
  visibility: visible;
  height: 200px !important;
}

.height.card-body {
  height: 100px;
}

.view {
  margin: 10px !important;
  font-size: 15px;
  text-align: justify;
}

.view-story.card {
  margin: 10px;
  max-height: 600px;
  overflow: auto;
}
